@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Source Sans Pro", sans-serif;
  }
  
  body {
    @apply font-sans antialiased;
  }
}
