@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Source Sans Pro", sans-serif;
  }
  
  body {
    @apply font-sans antialiased;
  }

  /* Apply Bricolage Grotesque to all headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Bricolage Grotesque", sans-serif;
  }
}
